<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Pokedex</a>
</nav>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 col-12 nameImage">
        <div class="row">
          <div class="col-12 pokemonName">
            {{ pokemonDetail.name }}
          </div>
        </div>
        <div class="row image">
          <!-- {{pokemonDetail.image}} -->
          <div class="col-4" *ngFor="let image of pokemonDetail.image">
            <img [src]="image" class="img-fluid" alt="..." />
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <mat-tab-group>
          <mat-tab label="INFO">
            <mat-list role="list">
              <mat-list-item role="listitem">
                <div class="infoItem">
                  
                  <div class="row">
                    <div class="col-2">
                      <mat-icon mat-list-icon > label_important</mat-icon>
                    </div>
                    <div class="col-10">
                      <div>   Name:{{pokemonDetail.name}}</div>
                    </div>
                  
                  </div>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>

              <mat-list-item role="listitem">
                <div class="infoItem">
                  <div class="row">
                    <div class="col-2">
                      <mat-icon mat-list-icon >label_important</mat-icon>
                    </div>
                    <div class="col-10">
                      <div>   Weight:{{ pokemonDetail.weight }}</div>
                    </div>
                   
                  </div>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>

              <mat-list-item role="listitem">
                <div class="infoItem">
                
                  <div class="row">
                    <div class="col-2">
                      <mat-icon mat-list-icon > label_important</mat-icon>
                    </div>
                    <div class="col-10">
                      <div>   Height:{{ pokemonDetail.height }}</div>
                    </div>
                  
                  </div>
                </div>

              </mat-list-item>
              <mat-divider></mat-divider>

              <mat-list-item role="listitem">
                <div class="infoItem">
                  <div class="row">
                    <div class="col-2">
                      <mat-icon mat-list-icon > label_important</mat-icon>
                    </div>
                    <div class="col-10">
                      <div>Base Experience:{{ pokemonDetail.base_experience }}</div>
                    </div>
                  
                  </div>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>

              <mat-list-item role="listitem">
                <div class="infoItem">
                  <div class="row">
                    <div class="col-2">
                      <mat-icon mat-list-icon > label_important</mat-icon>
                    </div>
                    <div class="col-10">
                      <div>Species:{{ pokemonDetail.species }}</div>
                    </div>
                   
                  </div>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>

              <mat-list-item role="listitem">
                <div class="infoItem">
                  <div class="row">
                    <div class="col-2">
                      <mat-icon mat-list-icon > label_important</mat-icon>
                    </div>
                    <div class="col-10">
                      <div>Type:{{ pokemonDetail.type }}</div>
                    </div>
                   
                  </div>
                </div>
              </mat-list-item>
            </mat-list>
          
          </mat-tab>
          <mat-tab label="MOVES">
            <mat-list role="list">
              <mat-list-item *ngFor="let move of pokemonDetail.moves">
                <mat-icon mat-list-icon>label_important</mat-icon>
                <div mat-line>{{ move.move.name }}</div>
                <mat-divider></mat-divider>
              </mat-list-item>
           

            </mat-list>
          </mat-tab>
          <mat-tab label="Sats">
            <div class="row stats">
              <mat-list role="stat">
                <mat-list-item *ngFor="let stat of pokemonDetail.stats">
                  <div class="stat">
                    
                    <mat-icon mat-list-icon class="trend">label_important</mat-icon>
                    <div mat-line>{{ stat.stat.name }}:</div>

                    <div mat-line>{{ stat.base_stat }}</div>
                    
                  </div>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
