<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink='/home'>Pokedex</a>
</nav>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 col-12 nameImage">
        <div class="row">
          <div class="col-12 pokemonName">
            {{ pokemonDetail.name }}
          </div>
        </div>
        <div class="row image">
          <!-- {{pokemonDetail.image}} -->
          <div class="col-4" *ngFor="let image of pokemonDetail.image">
            <img [src]="image" class="img-fluid" alt="..." />
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <mat-tab-group>
          <mat-tab label="INFO">
            <div class="row">
              <div class="col-12 detail">
                <span>Name</span>
                <span> {{ pokemonDetail.name }}</span>
              </div>

              <div class="col-12 detail">
                <span>Weight</span>
                <span> {{ pokemonDetail.weight }}</span>
              </div>
              <div class="col-12 detail">
                <span>Height</span>
                <span> {{ pokemonDetail.height }}</span>
              </div>
              <div class="col-12 detail">
                <span>Base Experience</span>
                <span> {{ pokemonDetail.base_experience }}</span>
              </div>

              <div class="col-12 detail">
                <span> species</span>
                <span> {{ pokemonDetail.species }}</span>
              </div>
              <div class="col-12 detail">
                <span> type</span>
                <span> {{ pokemonDetail.type }}</span>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="MOVES">
            <mat-list role="list">
              <mat-list-item *ngFor="let move of pokemonDetail.moves">
                <mat-icon mat-list-icon>trending_flat</mat-icon>
                <div mat-line>{{ move.move.name }}</div>
              </mat-list-item>
            </mat-list>
          </mat-tab>
          <mat-tab label="Sats"> 
              <div class="row stats">
                <mat-list role="stat">
                    <mat-list-item *ngFor="let stat of pokemonDetail.stats">
                    <div class='stat'>
                      <mat-icon mat-list-icon>trending_flat</mat-icon>
                      <div mat-line>{{ stat.stat.name }}:</div>
                        
                      <div mat-line>{{ stat.base_stat }}</div>
                    </div>
                    </mat-list-item>
                  </mat-list>
              </div>
              
        </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
